.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, #303150, #b5b9ff);
  height: 300px;
  width: 400px;
  border-radius: 10px;
}
